<div class="login-container">
    <h1 class="text-center fs-3">Restoring password</h1>
        <form action="" method="POST">
            <label for="inputPassword" class="col-form-label">New password:</label>
            <input type="password" class="form-control" id="inputPassword" required>
            <button class="btn btn-success">Send</button>
        </form>
    <p>Remember your password? <a href="/login">Sign in</a></p>
</div>
