<div class="login-container">
  <form action="#" method="POST">
    <h1 class="text-center fs-3">Create new user</h1>

    <label for="exampleFormControlInput1" class="form-label">Name user:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" required>

    <label for="exampleFormControlInput1" class="form-label">Email:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>

    <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="*****" required>

    <button class="btn btn-success">Create new user</button>
  </form>
</div>
+