 <div class="login-container">
  <h1>Log in</h1>
  <form action="#" method="POST">
   <label for="exampleFormControlInput1" class="form-label">Email:</label>
   <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
   <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
   <input type="password" class="form-control" id="inputPassword" required>
   <button class="btn btn-success">Log in</button>
   <button class="btn btn-danger" onclick="location.href='users/edit'">Recover password</button>
  </form>
 </div>
 